/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   BASE
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
body {
  /* margin: 0; */
  margin: 0 20px 0 20px;
  font-family: 'Ubuntu', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

img {
  width: 100%;
}

/* header */
header > div > input { /* mertolics logo */
  width: 200px;
  height: 50px;
  padding: 20px 20px 20px 40px;
}
header > div > .menuBar, 
header > div > .menubtn,
footer > div > .hidden,
.heroimg, 
.hiddenn { /* banner and accordian+tabs section */
  display: none !important;
}

h1 {
  color: #000;
  margin: 0 50px 0 50px;
}

/* top headline */
h1 > span, .username {
  color: #1eafde;
}

h1, body > p {
  text-align: center;
}
body > p, .column > p, h3 {
  margin: 0;
}

/* section 1*/
.imgIcons {
  max-width: 75px;
  max-height: 75px;
  margin: 0 auto;
}
.sectionTitle {
  margin-top: 50px;
}

.sectionSub {
  margin-bottom: 25px;
  text-align: center;
}

.sectionContent {
  padding-bottom: 25px;
}


/* section 2+3 */
.imgBox > figcaption {
  padding: 10px 10px 10px 20px;
  color: white;
  background-color: #19b2de;
}

.imgBox > figcaption > h3, 
.imgBox > figcaption > p, 
.imgBox > figcaption > input, 
.dateBox > p {
  margin: 0;
  padding: 0;
}

.imgBox > figcaption > input{ /* "sample image post" camera icon*/
  max-width: 50px;
  max-height: 50px;
}

.dateBox {
  width: 75px;
  position: relative;
  top: 50px;
  color: white;
  text-align: center;
  background-color: #d8605f;
  z-index: 2;
  padding: 5px 0 5px 0;
  margin-top: -60px; /* will this be a problem? look into it */
  
}
.dateBox > p {
  font-size: 0.75em;
}
.dateBox > h4 {
  margin: 0;
  padding: 1px 0 1px 0;
}


/* footer */
footer {
  background-color: #16242f;
  margin: 0 -20px 0 -20px;
  padding: 0;
}

.profileSum {
  padding: 40px 40px 10px 40px;
}

.avatarImg {
  max-width: 150px;
  max-height: 150px;
  border-radius: 300px;
  margin-top: 20px;
}

.description {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.socialMedia {
  margin: 0 auto;
}
.socialMedia > input {
  max-width: 60px;
  max-height: 60px;
  margin: 30px 0 30px 0;
  padding: 0;
}

.twitter > h3, 
.twitter > hr {
  margin: 0 30px 10px 30px;
}

.tweets > img {
  max-width: 35px;
  max-height: 35px;
  border-radius: 100px;
  margin-top: 10px;
  margin-right: 0px;
}
.tweets > div >p,
.twitter > h3 {
  color: white;
}

.bgDeco {
  display: block;
  width: 75vw;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
hr {
  width: 60vw;
  margin: 5px 0 10px 0;
}
.unhide {
  display: inline;
}

/* ==========================================================================
   LAYOUT
   ========================================================================== */

.column {
  display: grid;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: grid;
  margin: 0;
}

.col-2 {
  grid-template-columns: 1fr 1fr;
}

.col-4-1 {
  grid-template-columns: 4fr 1fr;
}

.col-1-5 {
  grid-template-columns: 1fr 5fr;
}

.col-1-6 {
  grid-template-columns: 1fr 6fr;
}




/* ==========================================================================
   MODULES
   ========================================================================== */







/* ==========================================================================
   THEME
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */


/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

   /* small only --mobile version */
/* @media screen and (max-width: 39.9375em) {
  html {
    background-color: lavender;
  }
} */

/* medium and up */
/* @media screen and (min-width: 40em) {
  html {
    background-color: lightblue;
  }

} */

/* medium only --tablet version*/
@media screen and (min-width: 40em) {

  /* html {
    background-color: rgb(179, 179, 231);
  } */
  body {
    margin-left: 40px;
    margin-right: 40px;
  }
  footer {
    background-color: #16242f;
    margin-left: -40px;
    margin-right: -40px;  
  }

  header > div > .menuBar, 
  header > div > .menubtn,
  .heroimg, 
  .hiddenn
  { /* banner and accordian+tabs section, and some footer content */
    display: unset !important;
  }

  .menubtn > input {
    width: 50px;
    height: 50px;
  }

  .heroimg > img {
    max-height: 300px;
  }

/* hero image with the two side buttons  */
  .heroimg {
    position: relative;
  }

  .intro {
    margin-top: 50px;
  }

  .leftBtn {
    position: absolute;
    top: 1px;
    left: 25px;
  }
  .rightBtn {
    position: absolute;
    top: 1px;
    right: 25px;
  }
  .heroimg > input {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    padding: 0;
    border: 2px solid black;
  }


  .sectionContent {
    text-align: center;
  }
  
  .imgIcons {
    max-width: 115px;
    max-height: 115px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .imgBox {
    margin: 10px;
  }

  /* accordion menu near end of body */
  .accordionSection {
    margin-bottom: 30px;
    border: 1px solid rgb(165, 165, 165);
  }
  .accordionMenu {
    background-color: white;
    margin-bottom: 5px;
    padding: 10px;
  }
  .accordionMenu > div > img {
    max-width: 100px;
    max-height: 100px;
    margin-top: 30px;
  }
  .accordionMenu > div > div > h4 {
    margin: 30px 0 0 0;
  }
  .accordionMenu > div > div > p {
    margin-bottom: 20px;
  }


  /* tabs section at end of body */
  .tabsSection {
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgb(165, 165, 165);
  }
  .tabs > img {
    max-width: 40px;
    max-height: 40px;
    margin-top: 20px;
  }

  .brandNames {
    margin: 30px 0 30px 0;
  }

  .brandNames > input {
    min-width: 120px;
    max-width: 120px;
    min-height: 75px;
    max-height: 75px;
    margin: 0 auto;
  }

  /* footer */
  footer > div > div > h3,
  footer > div > div > p 
  {
    color: white;
  }

  .footerSections > div {
    max-width: 300px;
    max-height: 300px;
  }

  .profileSum > img {
    max-width: 75px;
    max-height: 75px;
    margin: 30px 0 0 30px;
  }
  .profileSum > div > p {
    margin-bottom: 10px;
  }

  .socialMedia {
    margin: 0;
  }
  .socialMedia > input {
    max-width: 30px;
    max-height: 30px;
  }

  .twitter > h3,
  .twitter > hr {
    margin: 0;
    padding: 0;
  }

  .flickrPhotos > div > img {
    max-width: 100px;
    max-height: 100px;
    margin-top: 15px;
  }

  .newsletter > div > .sendBtn {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .newsletter > div {
    margin-top: 20px;
  }

  .emailInput {
    padding: 7px;
    width: 100%;
    margin:0;
    background-color: #de6262;
    color: white;
  }

  .emailInput[placeholder="Enter your Email..."] {
    color: white;
  }

  hr {
    width: 35vw;
  }

  .bgDeco {
    width: 50vw;
    position: relative;
  }

/* ==============================
    layout
    ============================= */

  .col-2 {
    grid-template-columns: 1fr 7fr;
  }

  .col-t-1-5 {
    grid-template-columns: 1fr 3fr;
  }
   .col-t-8-1 {
    grid-template-columns: 8fr 1fr;
  }
  
  .col-t-1-6 {
    grid-template-columns: 1fr 6fr;
  } 

  .col-t-1-7 {
    grid-template-columns: 1fr 7fr;
  }

  .col-t-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .col-t-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .col-t-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .col-1-5 {
    grid-template-columns: unset;
  }
  .sub-row {
    display: grid;
  }

  }

/* large and up */
@media screen and (min-width: 64em) {

  /* html {
    background-color: rgb(220, 228, 241);
  } */

  body {
    margin-left: 200px;
    margin-right: 200px;
  }

  footer {
    margin-left: -200px;
    margin-right: -200px;
  }

  .d-hidden {
    display: none;
  }

  .brandNames {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .brandNames > input {
    min-width: 120px;
    max-width: 120px;
    min-height: 75px;
    max-height: 75px;
    margin: 0 auto;
  }

  .profileSum {
    margin-left: 200px;
    margin-right: 200px;
  }

  .footerSections {
    margin: 0 200px 0 200px;
  }

  .twitter > hr {
    margin-top: -10px;
  }
  hr {
    width: 17vw;
  }

  .bgDeco {
    width: 30vw;
    position: relative;
  }

/* ==============================
    layout
    ============================= */

  .col-d-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .col-d-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .col-d-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* large only --desktop version*/
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

  /* html {
    background-color: lavender;
  } */
  
  body {
    margin-left: 100px;
    margin-right: 100px;
  }


 
  .brandNames > input {
    min-width: 120px;
    max-width: 120px;
    min-height: 75px;
    max-height: 75px;
    margin: 0 auto;
  }
  .profileSum {
    margin-right: 100px;
  }

  .footerSections > div {
    max-width: 400px;
    max-height: 400px;
    margin-bottom: 20px;
  }

  .twitter > hr {
    margin-top: -10px;
  }

  hr{
    width: 30vw;
  }


/* ==============================
    layout
    ============================= */

  .col-dt-1-5 {
    grid-template-columns: 1fr, 5fr;
  }
  .col-dt-2 {
    grid-template-columns: repeat(2, 1fr);
  }

}




@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

